@charset "UTF-8";
/* CSS Document */

.bg-primary {
    background-color: #D2E7DC !important;
}

#portfolio-modal-7 {
	background-color: lightgray;
}

#portfolio-modal-8 {
	background-color: lightgray;
}



	