@charset "UTF-8";
/* CSS Document */

.bg-primary {
    background-color: #d2e7dc !important;
}

#portfolio-modal-7 {
    background-color: lightgray;
}

#portfolio-modal-8 {
    background-color: lightgray;
}

/*-----------------------------------------------------------------------------------*/
/*  Loader
/*-----------------------------------------------------------------------------------*/

.loader {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url("../img/loader.gif") 50% 50% no-repeat #32b4b5;
    background-size: 500px;
}
